@import '../styles/modules/all';

.footer {
    width: 100%;
    padding: 16px 30px;
    display: flex;
    justify-content: center;
    gap: 24px;

    a {
        display: flex;
        align-items: center;
        gap: 8px;
    }
}