// *** This file contains all the variables used in the project. ***

// * Colors *
$cream: #e8e2d9;
$light_gold: #b8925a;
$dark_gold: #937351;
$rust: #926045;
$green: #4f5140;
$brown: #4a2f2d;

// * Screen Sizes *
$screen-xs: 480px !default;
$screen-sm: 768px !default;
$screen-md: 992px !default;
$screen-lg: 1200px !default;
$screen-xlg: 1400px !default;